@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Poppins:wght@300;400;700&family=Roboto:wght@400;700&display=swap');

/* font-family: 'Cormorant Garamond', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

@import './font-awesome.min.css';
body {
    margin: 0;
}

#wrapper {
    width: 100%;
}

header {
    background-color: #82f4d3;
    height: 64vw;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

header .left-side {
    position: absolute;
    height: 64vw;
    width: 64vw;
    background-color: #e9e9e9;
    clip-path: polygon(0 0, 71% 0, 100% 100%, 0% 100%);
}

.top-header {
    position: absolute;
    top: 47px;
    left: 0px;
    width: 100%;
    height: 70px;
}

.top-header .logo {
    display: inline-block;
    width: 210px;
    margin-left: 13.3vw;
    padding: 10px 0px;
    color: #61e9c2;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 43px;
}

.top-header .logo .fa {
    font-size: 43px;
}

.top-header .logo span {
    color: #232323
}

.top-header nav {
    float: right;
    width: 200px;
    height: 70px;
    margin-right: 13.3vw;
    text-align: right;
}

nav {
    padding: 8px 0px;
}

nav .fa {
    display: inline-block;
    margin: 0 10px;
}

nav .nav-button,
.social-button {
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: black;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    margin-left: 10px;
}

nav .nav-button .fa {
    color: white;
    font-size: 20px;
}

.page-title {
    position: absolute;
    top: 13.2vw;
    left: 13.4vw;
}

.page-title h1 {
    margin: 0;
    line-height: 8vw;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 9.7vw;
}

.page-title a {
    display: inline-block;
    position: relative;
    background-color: #82f4d3;
    padding: 7px 30px;
    margin-top: 32px;
    margin-left: 103px;
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
    line-height: 3vw;
    color: #323237;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.page-title a::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 328px;
    height: 71px;
    background-color: rgba(130, 244, 211, 0);
    border: 2px solid #82f4d3;
    left: -15px;
    bottom: -15px;
}

.shoe-wrapper {
    position: absolute;
    top: 13.2vw;
    left: 31.7vw;
}

.header-vertical-text {
    position: absolute;
    bottom: 245px;
    left: -10px;
    width: 362px;
    height: 85px;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #8f8f8f;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    transform: rotate(270deg);
}

.social-buttons-wrapper {
    position: absolute;
    bottom: 75px;
    right: 40px;
    width: 70px;
    height: 360px;
}

.social-buttons-wrapper a {
    color: white;
    font-size: 25px;
}